.app {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #fc3468;
        color: white;
    }

    footer {
        position: fixed;
        bottom: 1em;
    }

    // button {
    //     background: none;
    //     border: solid white;
    //     color: white;

    //     display:inline-block;
    //     padding:0.35em 1.2em;
    //     border:0.1em solid #FFFFFF;
    //     margin:0 0.3em 0.3em 0;
    //     border-radius:0.12em;
    //     box-sizing: border-box;
    //     text-decoration:none;
    //     font-family:'Roboto',sans-serif;
    //     font-weight:300;
    //     color:#FFFFFF;
    //     text-align:center;
    //     transition: all 0.2s;
    //     cursor: pointer;
    //     font-size: 2em;
    //     width: 10em;

    //     &:hover{
    //         color:#000000;
    //         background-color:#FFFFFF;
    //     }

    //     span {
    //         cursor: pointer;
    //         // font-size: 6em;
    //     }
    // }
}
